Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [6]:
# 1(i) string

In [7]:
a = "Faijan"

In [8]:
a

'Faijan'

In [9]:
type(a)

str

In [10]:
# 1(ii) list

In [11]:
l = ["ab", "bdgb", 45, 45.7, 1+2j ]

In [12]:
l

['ab', 'bdgb', 45, 45.7, (1+2j)]

In [13]:
type(l)

list

In [14]:
l[0]

'ab'

In [15]:
l[0]= 1

The above value can be modified in case of list, hence list is mutable

In [16]:
# 1(iii) float

In [17]:
b = 43.4

In [18]:
b

43.4

In [19]:
type(b)

float

In [20]:
# 1(iv) tuple

In [21]:
t = ("ab", "sdhsd", 3, 5, 5, 8+78j)

In [22]:
t

('ab', 'sdhsd', 3, 5, 5, (8+78j))

In [23]:
type(t)

tuple

In [24]:
t[0]

'ab'

In [25]:
t[0]= 34

TypeError: 'tuple' object does not support item assignment

The above value cannot be modified in case of list, hence tuple is immutable

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘ --> str
(ii) var2 = ‘[ DS , ML , Python]’ --> str
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ] --> List
(iv) var4 = 1. --> float
What will be the data type of the above given variable.

In [26]:
var1 =''

In [27]:
type(var1)

str

In [28]:
var2= '[DS, ML, Python]'

In [29]:
type(var2)

str

In [30]:
var3= ['DS', 'ML', 'Python']

In [31]:
type(var3)

list

In [32]:
var4 =1.

In [33]:
type(var4)

float

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [34]:
# Q3. (i) / --> This is an arithematic operator used for dividing the numbers. Below is the example:

In [35]:
3/4

0.75

In [36]:
# Q3. (ii) % --> This is an operator used for getting the remainder afer diving two numbers. Below is the example:

In [37]:
4%3

1

In [38]:
# Q3. (iii) // --> This is an operator used for getting the floor or quotient after dividing two numbers. Below is the example:

In [39]:
4//2

2

In [40]:
# Q3. (iv) ** --> This is an operator used for providing Power to the number. Below is the example:

In [41]:
2**5

32

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [42]:
list = [1, 2, 'Faijan', 47.8, 3+8j, 'sudh', 'krish', 34.9,  76, 3]

In [43]:
type(list)

list

In [44]:
len(list)

10

In [45]:
for i in list:
    print(i)
    print(type(i))

1
<class 'int'>
2
<class 'int'>
Faijan
<class 'str'>
47.8
<class 'float'>
(3+8j)
<class 'complex'>
sudh
<class 'str'>
krish
<class 'str'>
34.9
<class 'float'>
76
<class 'int'>
3
<class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [47]:
a = int(input("Please enter a number A: "))
b = int(input("Please enter the number B you want to check divisibility with A: "))

sum=0
while a%b==0:
    sum=sum+1
    a=a//b

if sum==0:
    print("The number A is not completely divisible by B")
else:
    print("The number A is purely divisible by B and " + str(sum) + " times")

Please enter a number A:  100
Please enter the number B you want to check divisibility with A:  5

The number A is purely divisible by B and 2 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [48]:
l= range(1,26)
print(l)

range(1, 26)

In [49]:
len(l)

25

In [50]:
for i in l:
    if (((l[i-1])%3) == 0):
        print(str(i) + " is divisible by 3")
    else :
        print(str(i)+ " is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable are those data types for which elements in the data could be modified or changed or appended whereas immutable data types are those in which the elements inside the data cannot be replaced or modified or appended.

Mutable data type examples : list
Immutable data type examples : str, list

In [51]:
# Examples of mutable data types:
a = [2,3,4,5,"sdf", "sdfsd"]
type(a)

list

In [52]:
a[1]

3

In [53]:
a[1]=4
a

[2, 4, 4, 5, 'sdf', 'sdfsd']

Here with the help of index, we can change the value/ element in the list, hence list is mutable

In [54]:
b= 'Faijan'
type(b)

str

In [55]:
b[0]

'F'

In [56]:
b[0]= 'A'

TypeError: 'str' object does not support item assignment

In [57]:
# Throwing error since it is immutable

In [58]:
c = (1,2,3,3,56, "Faijan")
type(c)

tuple

In [59]:
c[1]= 2

TypeError: 'tuple' object does not support item assignment

In [60]:
# Throwing error since it is immutable

Here, in both the cases of string and tuple, we can see that the elements cannot be changed on the basic of thier index and throwing an error while trying the same. Though we can change the entire tuple and string by reassigning some different value to it. Since the elements inside the list couldn't be changed. therefore, string and tuples are immutuable.

*****************************-----------------------------*************************